#s-240a5054-cf5f-41fe-bdd9-4174ef5ccfc4 #s-Image_31 {
  -ms-transform: rotate(0.0deg);
}
#s-240a5054-cf5f-41fe-bdd9-4174ef5ccfc4 #s-Image_32 {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-240a5054-cf5f-41fe-bdd9-4174ef5ccfc4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}