#s-62264e49-9655-41f7-accf-da8a74e9e745 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-62264e49-9655-41f7-accf-da8a74e9e745 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-62264e49-9655-41f7-accf-da8a74e9e745 #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-62264e49-9655-41f7-accf-da8a74e9e745 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-62264e49-9655-41f7-accf-da8a74e9e745 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}