#s-62264e49-9655-41f7-accf-da8a74e9e745 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-62264e49-9655-41f7-accf-da8a74e9e745 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-62264e49-9655-41f7-accf-da8a74e9e745 #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-62264e49-9655-41f7-accf-da8a74e9e745 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-62264e49-9655-41f7-accf-da8a74e9e745 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-62264e49-9655-41f7-accf-da8a74e9e745 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}