#s-91f50e31-c9f4-47cc-82db-636d2acf5697 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-91f50e31-c9f4-47cc-82db-636d2acf5697 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-91f50e31-c9f4-47cc-82db-636d2acf5697 #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-91f50e31-c9f4-47cc-82db-636d2acf5697 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-91f50e31-c9f4-47cc-82db-636d2acf5697 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-91f50e31-c9f4-47cc-82db-636d2acf5697 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}