#s-9c9a4866-f383-49be-ae89-92685994a86a #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-9c9a4866-f383-49be-ae89-92685994a86a #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9c9a4866-f383-49be-ae89-92685994a86a #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-9c9a4866-f383-49be-ae89-92685994a86a #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9c9a4866-f383-49be-ae89-92685994a86a #s-Ellipse_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9c9a4866-f383-49be-ae89-92685994a86a #s-Ellipse_2 {
  -ms-transform: rotate(0.0deg);
}
#s-9c9a4866-f383-49be-ae89-92685994a86a #s-Ellipse_3 {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-9c9a4866-f383-49be-ae89-92685994a86a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}