#s-9c9a4866-f383-49be-ae89-92685994a86a #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c9a4866-f383-49be-ae89-92685994a86a #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c9a4866-f383-49be-ae89-92685994a86a #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c9a4866-f383-49be-ae89-92685994a86a #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c9a4866-f383-49be-ae89-92685994a86a #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c9a4866-f383-49be-ae89-92685994a86a #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c9a4866-f383-49be-ae89-92685994a86a #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-9c9a4866-f383-49be-ae89-92685994a86a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}