#s-acbf0b56-40c0-4e29-b33d-6cac68e01c90 {
  background-color: transparent;
  background-image: none;
  min-width: 305px;
  min-height: 528px;
}
#s-acbf0b56-40c0-4e29-b33d-6cac68e01c90 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-acbf0b56-40c0-4e29-b33d-6cac68e01c90 #s-Image_2 {
  position: absolute;
  top: 407px;
  left: 29px;
  width: 48px;
  height: 48px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-acbf0b56-40c0-4e29-b33d-6cac68e01c90 #s-Image_3 {
  position: absolute;
  top: 213px;
  left: 29px;
  width: 48px;
  height: 48px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-acbf0b56-40c0-4e29-b33d-6cac68e01c90 #s-Image_4 {
  position: absolute;
  top: 277px;
  left: 29px;
  width: 48px;
  height: 48px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-acbf0b56-40c0-4e29-b33d-6cac68e01c90 #s-Image_5 {
  position: absolute;
  top: 340px;
  left: 29px;
  width: 48px;
  height: 48px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-acbf0b56-40c0-4e29-b33d-6cac68e01c90 #s-Image_6 {
  position: absolute;
  top: 151px;
  left: 29px;
  width: 48px;
  height: 48px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-acbf0b56-40c0-4e29-b33d-6cac68e01c90 #s-Label_1 {
  position: absolute;
  top: 165px;
  left: 96px;
  width: 126px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12pt;
  line-height: 12pt;
}
#s-acbf0b56-40c0-4e29-b33d-6cac68e01c90 #s-Label_1 .valign {
  vertical-align: middle;
}
#s-acbf0b56-40c0-4e29-b33d-6cac68e01c90 #s-Label_2 {
  position: absolute;
  top: 350px;
  left: 96px;
  width: 126px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12pt;
  line-height: 12pt;
}
#s-acbf0b56-40c0-4e29-b33d-6cac68e01c90 #s-Label_2 .valign {
  vertical-align: middle;
}
#s-acbf0b56-40c0-4e29-b33d-6cac68e01c90 #s-Label_3 {
  position: absolute;
  top: 288px;
  left: 96px;
  width: 126px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12pt;
  line-height: 12pt;
}
#s-acbf0b56-40c0-4e29-b33d-6cac68e01c90 #s-Label_3 .valign {
  vertical-align: middle;
}
#s-acbf0b56-40c0-4e29-b33d-6cac68e01c90 #s-Label_4 {
  position: absolute;
  top: 224px;
  left: 95px;
  width: 126px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12pt;
  line-height: 12pt;
}
#s-acbf0b56-40c0-4e29-b33d-6cac68e01c90 #s-Label_4 .valign {
  vertical-align: middle;
}
#s-acbf0b56-40c0-4e29-b33d-6cac68e01c90 #s-Label_7 {
  position: absolute;
  top: 418px;
  left: 95px;
  width: 126px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12pt;
  line-height: 12pt;
}
#s-acbf0b56-40c0-4e29-b33d-6cac68e01c90 #s-Label_7 .valign {
  vertical-align: middle;
}
#s-acbf0b56-40c0-4e29-b33d-6cac68e01c90 #s-Image_38 {
  position: absolute;
  top: 161px;
  left: 242px;
  width: 51px;
  height: 34px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-acbf0b56-40c0-4e29-b33d-6cac68e01c90 #s-Image_39 {
  position: absolute;
  top: 220px;
  left: 242px;
  width: 51px;
  height: 34px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-acbf0b56-40c0-4e29-b33d-6cac68e01c90 #s-Image_40 {
  position: absolute;
  top: 277px;
  left: 242px;
  width: 51px;
  height: 34px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-acbf0b56-40c0-4e29-b33d-6cac68e01c90 #s-Image_41 {
  position: absolute;
  top: 340px;
  left: 242px;
  width: 51px;
  height: 34px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-acbf0b56-40c0-4e29-b33d-6cac68e01c90 #s-Image_42 {
  position: absolute;
  top: 414px;
  left: 242px;
  width: 51px;
  height: 34px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-acbf0b56-40c0-4e29-b33d-6cac68e01c90 #s-Rich_text_1 {
  position: absolute;
  top: 76px;
  left: 12px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 283px;
  height: 66px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 16px;
  font-size: 12pt;
  font-family: Roboto-Regular,Arial;
}
#s-acbf0b56-40c0-4e29-b33d-6cac68e01c90 #s-Rich_text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-acbf0b56-40c0-4e29-b33d-6cac68e01c90 #s-Rich_text_1 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12pt;
}
#s-acbf0b56-40c0-4e29-b33d-6cac68e01c90 #s-Rich_text_1 span#rtr-s-Rich_text_1_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12pt;
  line-height: 0px;
}
#s-acbf0b56-40c0-4e29-b33d-6cac68e01c90 #s-Rectangle_2 {
  position: absolute;
  top: 493px;
  left: 75px;
  width: 169px;
  height: 27px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 10pt;
  font-family: Arial,Arial;
}
#s-acbf0b56-40c0-4e29-b33d-6cac68e01c90 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-acbf0b56-40c0-4e29-b33d-6cac68e01c90 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
}
#s-acbf0b56-40c0-4e29-b33d-6cac68e01c90 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-acbf0b56-40c0-4e29-b33d-6cac68e01c90 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}