#s-b851f1aa-1e31-4a0e-afad-4a731fd9b055 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-b851f1aa-1e31-4a0e-afad-4a731fd9b055 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}