#s-bc340421-47c5-43bf-8e23-df28e77faf82 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-bc340421-47c5-43bf-8e23-df28e77faf82 #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-bc340421-47c5-43bf-8e23-df28e77faf82 #s-Rich_text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-bc340421-47c5-43bf-8e23-df28e77faf82 #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-bc340421-47c5-43bf-8e23-df28e77faf82 #s-Image_133 {
  -ms-transform: rotate(0.0deg);
}
#s-bc340421-47c5-43bf-8e23-df28e77faf82 #s-Image_62 {
  -ms-transform: rotate(0.0deg);
}
#s-bc340421-47c5-43bf-8e23-df28e77faf82 #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-bc340421-47c5-43bf-8e23-df28e77faf82 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-bc340421-47c5-43bf-8e23-df28e77faf82 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-bc340421-47c5-43bf-8e23-df28e77faf82 #s-Label_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-bc340421-47c5-43bf-8e23-df28e77faf82 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}