#s-d12245cc-1680-458d-89dd-4f0d7fb22724 {
  background-color: transparent;
  background-image: none;
  min-width: 277px;
  min-height: 550px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_2 {
  position: absolute;
  top: 76px;
  left: 45px;
  width: 229px;
  height: 229px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_1 {
  position: absolute;
  top: 318px;
  left: 45px;
  width: 232px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 18pt;
  line-height: 18pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_1 .valign {
  vertical-align: middle;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_2 {
  position: absolute;
  top: 352px;
  left: 45px;
  width: 232px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12pt;
  line-height: 12pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_2 .valign {
  vertical-align: middle;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_1 {
  position: absolute;
  top: 385px;
  left: 76px;
  width: 169px;
  height: 165px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Ellipse_1 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 89px;
  height: 116px;
  position: absolute;
  overflow: hidden;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Ellipse_1 .content {
  width: 89px;
  height: 116px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Ellipse_1 {
  position: absolute;
  top: 385px;
  left: 45px;
  width: 89px;
  height: 116px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12pt;
  font-family: Roboto-Bold,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #shapewrapper-s-Ellipse_1 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Ellipse_2 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 89px;
  height: 116px;
  position: absolute;
  overflow: hidden;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Ellipse_2 .content {
  width: 89px;
  height: 116px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Ellipse_2 {
  position: absolute;
  top: 385px;
  left: 180px;
  width: 89px;
  height: 116px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12pt;
  font-family: Roboto-Bold,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #shapewrapper-s-Ellipse_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #shapewrapper-s-Ellipse_2 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #shapewrapper-s-Ellipse_2 span#rtr-s-Ellipse_2_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Ellipse_3 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 54px;
  height: 57px;
  position: absolute;
  overflow: hidden;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Ellipse_3 .content {
  width: 54px;
  height: 57px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Ellipse_3 {
  position: absolute;
  top: 439px;
  left: 134px;
  width: 54px;
  height: 57px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12pt;
  font-family: Roboto-Bold,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #shapewrapper-s-Ellipse_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #shapewrapper-s-Ellipse_3 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #shapewrapper-s-Ellipse_3 span#rtr-s-Ellipse_3_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12pt;
  line-height: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}