#s-e5553b0e-79ce-4d60-8860-938c27ba12b9 {
  background-color: transparent;
  background-image: none;
  min-width: 320px;
  min-height: 551px;
}
#s-e5553b0e-79ce-4d60-8860-938c27ba12b9 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-e5553b0e-79ce-4d60-8860-938c27ba12b9 #s-Image_2 {
  position: absolute;
  top: 75px;
  left: 72px;
  width: 178px;
  height: 162px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-e5553b0e-79ce-4d60-8860-938c27ba12b9 #s-Label_1 {
  position: absolute;
  top: 272px;
  left: 45px;
  width: 232px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 18pt;
  line-height: 18pt;
}
#s-e5553b0e-79ce-4d60-8860-938c27ba12b9 #s-Label_1 .valign {
  vertical-align: middle;
}
#s-e5553b0e-79ce-4d60-8860-938c27ba12b9 #s-Rich_text_1 {
  position: absolute;
  top: 309px;
  left: 20px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 269px;
  height: 123px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 16px;
  font-size: 12pt;
  font-family: Roboto-Regular,Arial;
}
#s-e5553b0e-79ce-4d60-8860-938c27ba12b9 #s-Rich_text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e5553b0e-79ce-4d60-8860-938c27ba12b9 #s-Rich_text_1 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12pt;
}
#s-e5553b0e-79ce-4d60-8860-938c27ba12b9 #s-Rich_text_1 span#rtr-s-Rich_text_1_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12pt;
  line-height: 0px;
}
#s-e5553b0e-79ce-4d60-8860-938c27ba12b9 #s-Label_2 {
  position: absolute;
  top: 522px;
  left: 20px;
  padding-left: 17px;
  width: 63px;
  height: 29px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/9b6d0a44-8855-4b4d-9740-8a7a312c1921.png');
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #007DFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 400;
  line-height: 12pt;
}
#s-e5553b0e-79ce-4d60-8860-938c27ba12b9 #s-Label_2 .valign {
  vertical-align: middle;
}
#s-e5553b0e-79ce-4d60-8860-938c27ba12b9 #s-Image_133 {
  position: absolute;
  top: 522px;
  left: 274px;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-e5553b0e-79ce-4d60-8860-938c27ba12b9 #s-Image_62 {
  position: absolute;
  top: 522px;
  left: 209px;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-e5553b0e-79ce-4d60-8860-938c27ba12b9 #s-Image_11 {
  position: absolute;
  top: 522px;
  left: 242px;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-e5553b0e-79ce-4d60-8860-938c27ba12b9 #s-Line_1 {
  position: absolute;
  top: 500px;
  left: 0px;
  width: 320px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-e5553b0e-79ce-4d60-8860-938c27ba12b9 #s-Label_3 {
  position: absolute;
  top: 447px;
  left: 20px;
  width: 188px;
  height: 48px;
  background-color: transparent;
  background-image: none;
  opacity: 0.98;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #4A86E8;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12pt;
  line-height: 12pt;
}
#s-e5553b0e-79ce-4d60-8860-938c27ba12b9 #s-Label_3 .valign {
  vertical-align: middle;
}
.ui-page {
  overflow-x: hidden;
}
#s-e5553b0e-79ce-4d60-8860-938c27ba12b9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}