#s-ed19848d-5726-4366-9ccc-f51cbae68548 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed19848d-5726-4366-9ccc-f51cbae68548 #s-Label_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=97) ;
  filter: alpha(opacity=97) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed19848d-5726-4366-9ccc-f51cbae68548 #s-Rich_text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-ed19848d-5726-4366-9ccc-f51cbae68548 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}