<html>
  <body>
    <div class="ui-page">
         <div id="t-0b777d1b-c27d-4b6f-b9cd-1fd98424522a" class="template growth-both firer commentable" name="Blank">
         <div id="alignmentBox">
           <link type="text/css" rel="stylesheet" href="./resources/templates/0b777d1b-c27d-4b6f-b9cd-1fd98424522a-1413649249060.css" />
           <!--[if IE]><link type="text/css" rel="stylesheet" href="./resources/templates/0b777d1b-c27d-4b6f-b9cd-1fd98424522a-1413649249060-ie.css" /><![endif]-->
           <!--[if lte IE 8]><link type="text/css" rel="stylesheet" href="./resources/templates/0b777d1b-c27d-4b6f-b9cd-1fd98424522a-1413649249060-ie8.css" /><![endif]-->
           </div>
           <div id="loadMark"></div>
         </div>  
    </div>
  </body>
</html>